<ion-header>
  <ion-navbar>
    <ion-title>
      Localização
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Localização atual:</p>
  <p>Latitude: {{lat}} Longitude: {{lon}}</p>
  <button ion-button (click)="getLocation()">Localizar</button>
</ion-content>
